<h1>Register</h1>
<p>
  Please authenticate in order to proceed to the requested resource.
  <span>$(output_flash(@params))</span>
</p>
<form method="POST" action="$(Genie.Router.to_link(:register))">
  <label _for="auth_username">Username</label>
  <input type="text" id="auth_username" name="username" />
  <br/>

  <label _for="auth_password">Password</label>
  <input type="text" id="auth_password" name="password" />
  <br/>

  <label _for="auth_name">Name</label>
  <input type="text" id="auth_name" name="name" />
  <br/>

  <label _for="auth_email">Email</label>
  <input type="text" id="auth_email" name="email" />
  <br/>

  <input type="submit" value="Register" />
</form>